#major_marks_group line,
#minor_marks_group line,
#angle_texts_group text,
#direction_texts_group text,
#dial {
	transform-origin: center;
}

#major_marks_group line,
#minor_marks_group line {
	stroke: var(--color-fg);
}

#angle_texts_group text {
	font-size: 10px;
}

#compass text {
	fill: var(--color-fg);
}

#direction_texts_group text {
	font-size: 15px;
}

#pointer {
	fill: red;
}

#angle_text {
	font-size: 50px;
	transform: translateX(9px);
}

#direction_text {
	font-size: 20px;
}