#info_dialog {
	line-height: 1.5;
}

#info_dialog .btn-row {
	margin-top: 15px;
}

#info_dialog .title {
	text-decoration: underline;
	margin-bottom: 15px;
}

#info_dialog ul {
	list-style-type: disc;
	margin-left: .5em;
}

#info_dialog i-con {
	display: inline-block;
	vertical-align: middle;
}